<div>
    <p></p>
    <p>{{data.committer.date}}</p>
    <p>{{data.author.name}}</p>
    <p>{{data.message}}</p>
    <a href='http://github.com/chevett/miketown3/commit/{{data.sha}}'>{{data.sha}}</a>
</div>
